/* Billeder */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Produktliste */
.grid_1_1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}

/* Hvert enkelte produkt */
.smallProduct {
  border: 1px solid black;
  margin: 0px auto;
  display: block;
  padding: 2rem;
  position: relative;
}

.laes_mere {
  text-decoration: none;
}

/* Køb knap */
button {
  background-color: #c4d3f4;
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
  padding: 0.5rem;
  width: 10rem;
  display: block;
}

/* Knappen hvor man kan vælge størrelse */
select {
  background-color: ghostwhite;
  border: none;
  border-radius: 5px;
  padding: 0.3rem;
}

/* specifikationer */
.Specifikationer :visited {
  color: black;
}
.Specifikationer {
  color: black;
}

/* ------Tags------ */

/* skjul */
.hide {
  display: none;
}

.tags {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Udsolgt */
.soldout {
  opacity: 0.5;
}

/* Rabat */
.rabat {
  display: flex;
  flex-direction: row;
  gap: 5%;
  
}
.price {
  text-decoration: line-through;
  color: red;
}
.price_after {
  margin-bottom: 1rem;
  height: 0.5rem;
}
/* .rabattag {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(157, 51, 51);
  width: 4rem;
  color: #ffff;
} */
.rabattag2 {
  position: absolute;
  top: 0;
  right: 1rem;
  background-color: rgb(157, 51, 51);
  width: 3rem;
  color: #ffff;
  text-align: center;
  padding:0.5rem;
}
.rabattag p {
  margin-left: 1rem;
  line-height: 0;
}
.rabattag2 p {
  margin-left: 1rem;
  line-height: 0;
}
.udsolgttag {
  position: absolute;
  top: 25%;
  right: 33%;
  /* background-color: rgb(232, 228, 228); */
  width: 5rem;
  z-index: 1;
  padding:0.5rem;
  text-align: center;
  font-weight: bold;
  color: #ffff;
}


/* rabat og udsolgt */
.udsolgt_rabat {
  opacity: 0.5;
}

/* template */
